node_modules
dist
dist-ssr
*.local
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache directories
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache

# Build outputs
build
.output
.nuxt
.next
out

# Environment files
.env
.env.local
.env.*.local

# OS files
Thumbs.db

# Coverage directories
coverage
*.lcov
.nyc_output
